# docker Database Configuration
#DB_USER=postgres
#DB_PASSWORD=your_password_here
#DB_HOST=localhost
#DB_PORT=5433
#DB_NAME=tripflux-db

# Server Configuration
PORT=3010
# dev local database er Database Configuration
DB_USER=postgres
DB_PASSWORD=admin123
DB_HOST=192.168.29.143
DB_PORT=5432
DB_NAME=tripfluxdev
